@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

:root {
	--padding: 50px;
}


body {
	margin: 0;
	font-family: "Lato";
	color: white;
}

h1, h2 {
	margin: 0;
	font-family: "Roboto Slab";
	margin: 0;
}

h1 {
	margin-bottom: 20px;
}
h3 {
	font-weight: 100;
	font-size: 14px;
	font-family: "Lato";
	margin: 0;
	text-transform: uppercase;
}

a {
	color: white;
}

.material-icons-outlined {
	vertical-align: text-top;
	font-weight: 100;
	font-size: 16px;
	margin: 0px 5px;
}


.background {
	position: fixed;
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}
.foil {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: left;
	min-height: 60vh;
	position: relative;
}

main #news {
	position: absolute;
	bottom: var(--padding);
	left: var(--padding);
}
main #info {
	position: absolute;
	right: var(--padding);
	top: var(--padding);
	font-weight: 100;
}
main #info-left {
	position: absolute;
	right: var(--padding);
	top: calc(var(--padding) + 30px);
	font-weight: 100;
}


main ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
	margin-top: 30px;
}
main ul li a {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 8px 15px;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

main ul li a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

#articles {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
	transform: rotate(0deg);
}

#articles article {
	background-image: url("articles/pizza.jpg");
	background-size: cover;
	background-position: center;
	min-height: 100px;
}

#articles article .text {
	background-color: rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	padding: 30px;
	width: 100%;
	height: 100%;
}




/**************** Pages **************************/


/* Home */


/* Course */
#course {

}
#course main {
	min-height: 30vh;
}

#course ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#course ol li{
	display: block;
	margin: 2px 0;
}


#course ol li a{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	color: white;
	display: block;
	text-decoration: none;
	padding: 8px 15px;
	text-transform: uppercase;
}
#course ol li a:hover{
	background-color: rgba(255, 255, 255, 0.3);
}


#course #book {
	width: 100%;
	box-sizing: border-box;
	text-align: justify;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	padding: var(--padding);
}


/* Article */