p {
	padding: 30px;
}

.a {
	background-color: #34AF08;
}


.b {
	background-color: rgb(233,90,23);
}

.c {
	background-color: #04AF2F;
}

.d {
	background-color: rgb(233,130,21);
}

.e {
	background-color: #980FA0;
}

.f {
	background-color: rgb(233,20,2);
}

.g {
	background-color: #38AF50;
}

.h {
	background-color: rgb(233,44,30);
}

.i {
	background-color: #34B93A;
}

.j {
	 background-color: rgb(23,21,200);
}