@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&family=Roboto:wght@300&display=swap');

h1 {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	margin: 30px;
	background-color: dodgerblue;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-family: "Libre Baskerville";
}

h2 {
	font-size: 40px;
	text-align: right;
	margin: 30px;
	background-color: cadetblue;
	font-family: "Libre Baskerville";
}

p {
	font-size: 30px;
	line-height: 1.5;
	margin: 30px;
	column-count: 3;
	font-family: "Roboto";
}

.signature {
	font-size: 50px;
	font-family: "Dancing Script";
	margin: 30px;
}

body {
	color: white;
	background: linear-gradient(266deg, rgba(18,36,154,1) 12%, rgba(124,175,174,1) 100%);
}